<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>
<body>

    <form action="/process" method='POST' class="form-group">
        <h1>Dojo Survey</h1>
        <label for="name">Name:</label><br>
        <input type="text" name="name" class="form-control"><br>
        <label for="location">Dojo Location:</label><br>
        <select name="locations" class="form-control">
            <option value="">--Select a Location--</option>
            <option value="Los Angeles, CA">Los Angeles, CA</option>
            <option value="Atlanta, GA">Atlanta, GA</option>
            <option value="Chicago, IL">Chicago, IL</option>
            <option value="Silicon Valley, CA">Silicon Valley, CA</option>
            <option value="Boise, ID">Boise, ID</option>
        </select><br>
        <label for="language">Favorite Language:</label><br>
        <select name="languages" class="form-control">
            <option value="">--Select a Language--</option>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Javascript">Javascript</option>
        </select><br>
        <label for="comments">Comments:</label><br>
        <textarea name="comments" rows="10" cols="30" class="form-control"></textarea>
        <input type="submit" value="Submit" class=" btn btn-primary"> 
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>